PINATA_JWT=
NEXT_PUBLIC_PINATA_GATEWAY=
MONGODB_URI=
#use helius mainnet api on mainnet
NEXT_PUBLIC_HELIUS_RPC_URL=https://api.devnet.solana.com
# uncomment when on mainnet
# NEXT_PUBLIC_HELIUS_WS_URL=wss://mainnet.helius-rpc.com/?api-key=2c6db190-4b96-4f0f-ae7e-862d2685ac79


#this will create a token and buy 10% of the that token
AGENT_WALLET=
